# ===============================
# PostgreSQL (ML database)
# ===============================
POSTGRES_DB=ml_database
POSTGRES_USER=ml_user
POSTGRES_PASSWORD=
POSTGRES_PORT=5432

# ===============================
# PGAdmin (DB Administration interface)
# ===============================
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=
PGADMIN_PORT=8081

# ===============================
# API FastAPI
# ===============================
API_PORT=7860
API_LISTEN_PORT=7860
API_TOKEN=

# ===============================
# Hugging Face access
# ===============================
HF_REPOSITORY=MGonzalez117/technova-partners-rh
HF_MODEL=modelp4.pkl
HF_TOKEN=