# --- Chatbot / Api ---
API_URL=http://api:80
API_PORT=80
API_TOKEN=

# --- Persistence / Index ---
INDEX_DIR=.ragdata/index/faiss_var

# --- OpenDataSoft (OpenAgenda) ---
OPENDATASOFT_URL=https://public.opendatasoft.com/api/explore/v2.1/catalog/datasets/evenements-publics-openagenda/records
FILTER_DEPARTMENT=Var
FILTER_YEARS=2025,2026# Format: "2024,2025,2026"

# --- Embeddings ---
EMB_MODEL=paraphrase-multilingual-MiniLM-L12-v2

# --- LMs ---
PROMPT_FILE=prompts/answer_events.txt
MISTRAL_TOKEN=

# --- Demo ---
DEMO_PORT=8080
