# --- Chatbot / Api ---
API_PORT=80
API_TOKEN=

# --- Persistence / Index ---
INDEX_DIR=.ragdata/index/faiss_var_2025

# --- OpenDataSoft (OpenAgenda) ---
OPENDATASOFT_URL=https://public.opendatasoft.com/api/records/1.0/search/
OPENDATASOFT_DATASET=evenements-publics-openagenda
FILTER_DEPARTMENT=Var
FILTER_YEAR=2025

# --- Embeddings ---
EMB_MODEL=sentence-transformers/all-MiniLM-L6-v2

# --- LMs ---
MISTRAL_TOKEN=