# ===============================
# API FastAPI
# ===============================
API_PORT=8000
API_TOKEN=

# ===============================
# Hugging Face model access
# ===============================
HF_REPOSITORY=MGonzalez117/home-credit
HF_MODEL=model.joblib
HF_PIPELINE=pipeline.joblib

# ===============================
# Hugging Face space access
# ===============================
HF_SPACE_REPOSITORY=https://huggingface.co/spaces/MGonzalez117/ai-engineer-p8
HF_SPACE_TOKEN=

# ===============================
# PostgreSQL (local database)
# ===============================
POSTGRES_PORT=5432
POSTGRES_DB=homecredit
POSTGRES_USER=homecredit
POSTGRES_PASSWORD=

# ===============================
# PGAdmin (DB Administration interface for local database)
# ===============================
PGADMIN_PORT=8081
PGADMIN_EMAIL=
PGADMIN_PASSWORD=

DASHBOARD_PORT=3000

SNAKEVIZ_PORT=8082