DATA_RAW_DIR=data/raw
DATA_PROCESSED_DIR=data/extracted
DATA_FINAL_DIR=data/transformed

POSTGRES_USER=etl
POSTGRES_PASSWORD=password
POSTGRES_DB=etl

AIRFLOW_LOAD_EXAMPLES=False
AIRFLOW_EXECUTOR=LocalExecutor
AIRFLOW_SQL_ALCHEMY_CONN=postgresql+psycopg2://etl:password@p12-datastore:5432/etl

ETL_DB_HOST=p12-datastore
ETL_DB_PORT=5432
ETL_DB_NAME=etl
ETL_DB_USER=etl
ETL_DB_PASSWORD=password

PGADMIN_EMAIL=
PGADMIN_PASSWORD=password
